Package: com.orikad.covermenot
Name: CoverMeNot
Depends: mobilesubstrate
Version: 1.0.1
Architecture: iphoneos-arm
Description: Uncover your apps!
Maintainer: Ori Kadosh
Author: Ori Kadosh
Section: Tweaks
